---
title: Home
---


/ Sample Files
.container
	
	%header.h2.sample-header 
		%a{:href => "#"} Typography
	
	%header.h3.sample-subheader 
		Headings
	
	%section.sample-section
		%h1 First Heading
		%hr/ 
		%h2 Second Heading
		%hr/ 
		%h3 Third Heading
		%hr/ 
		%h4 Fourth Heading
		%hr/ 
		%h5 Fifth Heading
		%hr/ 
		%h6 Sixth Heading

	%header.h3.sample-subheader 
		Body Text
	%section.sample-section
		%p
			This is Paragraph with 
			%a{:href => "#"} a link.
			:erb
				Consectetur adipisicing elit. Pariatur, nemo tempore eum officiis <code>this some code</code>. <strong>This is bold text (<code>strong</code>).</strong> <em>This is emphasized/italic text <code>em</code></em>. What about some <abbr title="attribution">abbr</abbr> and <small>some small text</small>?.
			= lorem.sentence
		%p= lorem.sentences 7

	%header.h3.sample-subheader 
		Blockquote
	%section.sample-section
		%blockquote
			%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, qui recusandae tenetur saepe libero perferendis maxime eos earum distinctio voluptatum. Enim, vero soluta possimus reprehenderit corporis necessitatibus quo exercitationem delectus!
			%small John Doku


	%header.h3.sample-subheader 
		Lists
	%section.sample-section
		%header.h4.sample-subheader 
			Unordered
		%ul 
			%li= lorem.words 7
			%li= lorem.words 7
			%li= lorem.words 7
			%ul
				%li= lorem.words 7
				%li= lorem.words 7
				%li= lorem.words 7
		%hr/ 
		%header.h4.sample-subheader 
			Ordered
		%ol 
			%li= lorem.words 7
			%li= lorem.words 7
			%li= lorem.words 7
			%li= lorem.words 7
			%li= lorem.words 7
			%li= lorem.words 7
		%hr/ 
		%header.h4.sample-subheader 
			Unstyled
		%ol.list-unstyled 
			%li= lorem.words 7
			%li= lorem.words 7
			%li= lorem.words 7
			%li= lorem.words 7
			%li= lorem.words 7
			%li= lorem.words 7
		%hr/ 
		%header.h4.sample-subheader 
			Inline
		%ul.list-inline
			%li This is
			%li An inline list
			%li Sample Text 1
			%li Sample Text 2
		%hr/ 
		%header.h4.sample-subheader 
			Description List
		%dl 
			%dt Definition Title
			%dd Definition Description
			%dt Definition Title
			%dd Definition Description
			%dt Definition Title
			%dd Definition Description
		%hr/ 
		%header.h4.sample-subheader 
			Description List Horizontal
		%dl.dl-horizontal
			%dt Definition Title
			%dd Definition Description
			%dt Definition Title
			%dd Definition Description
			%dt Definition Title
			%dd Definition Description

	%header.h3.sample-subheader 
		Code
	%section.sample-section
		%p
			Let's write some
			%code code
			\:
		%pre
			:escaped
				<ol>
				  <li>sunt molestiae dolor</li>
				  <li>vitae ipsam dolor sint</li>
				</ol>

	%header.h2.sample-header 
		%a{:href => "#"} Forms 
	
	%section.sample-section
		%form{role: "form"}
			%legend Legend
			%p 
				%label{for: "exampleInputEmail1"} Email address
				%input#exampleInputEmail1{placeholder: "Enter email", type: "email"}/
			%p 
				%label{for: "exampleInputPassword1"} Password
				%input#exampleInputPassword1.form-control{placeholder: "Password", type: "password"}/
			%p 
				%label{for: "exampleInputFile"} File input
				%input#exampleInputFile{type: "file"}/
			.checkbox
				%label
					%input{type: "checkbox"}/
					Check me out
			%button{type: "submit"} Submit


	%header.h2.sample-header 
		%a{:href => "#"} Table
	
	%section.sample-section
		%table
			%thead
				%tr
					%th #
					%th First Name
					%th Last Name
					%th Username
			%tbody
				%tr
					%td 1
					%td Mark
					%td Otto
					%td @mdo
				%tr
					%td 2
					%td Jacob
					%td Thornton
					%td @fat
				%tr
					%td 3
					%td Larry
					%td the Bird
					%td @twitter

	%header.h2.sample-header 
		%a{:href => "#"} Font-awesome Icons
	
	%section.sample-section
		%ul.list-inline{:style => "margin-bottom: 0"} 
			%li
				%span.icon.icon-2x.icon-facebook{:href => "#"} 
			%li
				%span.icon.icon-2x.icon-twitter{:href => "#"} 
			%li.icon-circle
				%span.icon.icon-facebook{:href => "#"} 
			%li.icon-circle
				%span.icon.icon-twitter{:href => "#"} 
			%li.icon-square
				%span.icon.icon-dribbble{:href => "#"} 
			%li.icon-square
				%span.icon.icon-linkedin{:href => "#"} 
			%li.icon-rounded
				%span.icon.icon-gplus{:href => "#"} 
			%li.icon-rounded
				%span.icon.icon-comment{:href => "#"} 

